<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated logicalSpecification -->
      <package
            uri="http://it.univaq.disim.seagroup/logicalSpecification"
            class="logicalSpecification.LogicalSpecificationPackage"
            genModel="model/logicalSpecification.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated logicalSpecification -->
      <package
            uri="http://it.univaq.disim.seagroup/logicalSpecification/actions/uml"
            class="logicalSpecification.actions.UML.UMLPackage"
            genModel="model/logicalSpecification.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated logicalSpecification -->
      <package
            uri="http://it.univaq.disim.seagroup/logicalSpecification/actions/aemilia"
            class="logicalSpecification.actions.AEmilia.AEmiliaPackage"
            genModel="model/logicalSpecification.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated logicalSpecification -->
      <package
            uri="http://it.univaq.disim.seagroup/logicalSpecification/antipatterns/performance"
            class="logicalSpecification.antipatterns.performance.PerformancePackage"
            genModel="model/logicalSpecification.genmodel"/>
   </extension>

</plugin>
